*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}
h2{
  font-weight: 600;
}

body {
  margin: auto;
  width: 80%;
}
a{
  text-decoration: none;
  color: black;

}

/*****DEBUT HEADER*****/


header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo{
  width: 70%;
}

.heb,.act,.sincrire{
  width: 10%;
}
header div .two{
      height: 5vh;

  }

header  a {
    text-decoration: none;
    padding: 20px;
    color: black;
  }

  .heb:hover, .act:hover {
    border-top: 1px solid #0065FC;
    color: #0065FC;
  }

  .sincrire {
    color: #0065FC !important;
  }
/*****FIN HEADER*****/


/*****DEBUT NAV*****/

  /*SEARCH BAR*/
 #info .bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2vh;
  }
  
  #info  .bar input {
    height: 4vh;
    border-color: #F2F2F2;
    border: 1px solid#F2F2F2;
    width: 15%;
  }
  
  #info  ::-webkit-input-placeholder {
    color: black;
    font-weight: 600;
    padding-left: 3%;
  }
  
  #info  ::-moz-placeholder {
    color: black;
    font-weight: 600;
    padding-left: 3%;
  }
  
  #info  :-ms-input-placeholder {
    color: black;
    font-weight: 600;
    padding-left: 3%;
  }
  
  #info  ::-ms-input-placeholder {
    color: black;
    font-weight: 600;
    padding-left: 3%;
  }
  
  #info  ::placeholder {
    color: black;
    font-weight: 600;
    padding-left: 3%;
  }
  
  #info  .bar .fa-map-marker-alt {
    width: 3%;
    background-color: #F2F2F2;
    text-align: center;
    line-height: 2.5;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }
  #info  .bar button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    border: none;
    width: 8%;
  }
  #info .bar .button{
    font-weight: 600;
  }

  #info   .bar .fa-search {
    display: none;
  }
    /***FIN SEARCH BAR***/

    /*FILTRES*/
  .filtres{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 2vh;
  }

  .filtres h4{
    padding-top: 1vh;
    width: 4%;
  }
  #info .filtres i{
    padding: 11px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
  }
  #info .filtres div{
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    width: auto;
    display: inline;
    margin: 0 .5rem 0rem;
  }
  #info .filtres div:hover{
    color: red;
  }
  #info .filtres span{
    padding: 1vh;
    font-weight: 600;
  }
  /***FIN FILTRES***/
  
   /*LOGEMENTS DISPO*/
   .logement_dispo{
     padding-top: 2vh;
   }
   .logement_dispo .fa-xs{
    border: 1px solid #F2F2F2;
    color: #0065FC;
    width: 1.3%;  
    text-align: center;
    height: 2vh;
    border-radius: 100%;
    line-height: 1.5;
  }
  /***FIN LOGEMENTS DISPO***/
/*****FIN NAV******/


/*****DEBUT MAIN*****/
main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 4vh;
}

  /*HEBERGEMENT*/
#hebergement{
  width: 68%;
  background-color: #F2F2F2;
  border-radius: 20px;
}
#hebergement h2{
  padding-top: 3vh;
  margin: 0 0 1rem 4%;
}
.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-top: 1vh;
    margin: 0 auto;   
}
#hebergement article{
  width: 28%;
}
.ranger1 img{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 15vh;
}
.ranger1 {
  background-color: white;
  border-radius: 20px;
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 1rem 4%;
  padding: .5%;
}

#hebergement .fa-star {
  color: #0065FC;
}
#hebergement .grey_star {
  color: #F2F2F2 !important;
}
.afficher_plus{
  margin: 0 0 1rem 4%;
  padding-top: 1vh;
}
.afficher_plus a{
  font-weight: 600;
}
#hebergement .test2{
  padding-top: 1vh;
  margin: 0 0 0rem 7%;

}


#hebergement .ranger1 span::after {
  color: black;
  content: '€';
  font-weight: bold;
}

  /*** FIN HEBERGEMENT***/

  /*POPULAIRE*/
aside{
  background-color: #F2F2F2;
  width: 27%;
  border-radius: 20px;
}
.icone_finance{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3vh;
}
.icone_finance i{
  padding-top: 1vh;
}
.card_populaire {
  width: 80%;
  margin: 0 0 0rem 10%;
  padding-top: 4.5vh;
}
.colone {
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}
.colone img {
  height: 12vh;
  width: 35%;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  object-fit: cover;

}
.colone span{
  font-weight: 600;
}

.populaire .fa-star {
  color: #0065FC;
}
aside .grey_star {
  color: #F2F2F2 !important;
}
aside .test {
  padding-top: 1vh;
  margin: 0 0 0rem 6%;

}
aside .test p{
  padding-top: .5vh;
}
aside .test .stars{
  padding-top: 2.5vh;
}
aside .test p::after {
  color: black;
  content: '€';
  font-weight: bold;
}
  /***FIN POLPULAIRE***/

    /*ACTIVITE*/
    #activite{
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
    #activite h2 {
      width: 100%;
    }
    #activity_card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding-top: 5vh;
    }
    .longimg {
      width: 23%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    
    .longimg img {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 30px 30px 0px 0px;
      height: 40vh;
      object-fit: cover;
    }
    .textimg {
      width: 100%;
      border-radius: 0px 0px 30px 30px;
      -webkit-box-shadow: 5px 5px 19px 18px rgba(0, 0, 0, 0.36);
      box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.10);
      height: 6vh;
      padding-top: 2vh;

    }
   
    .textimg a{
      margin: 0 0 0rem 3%;
      font-weight: 600;
    }
    /*FIN IMG 1 */
    .img-milieu {
      width: 23%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .imgshort {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .imgshort img {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 30px 30px 0px 0px;
      height: 17vh;
      object-fit: cover;
    }
    /*FIN IMG 2 */   
    .imgshort2 {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    } 
    .imgshort2 img {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 30px 30px 0px 0px;
      height: 10vh;
      object-fit: cover;
    }
    /* FIN IMG 3 */  
    .img_right {
      width: 23%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .imgshort5 {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    } 
    .imgshort5 img {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 30px 30px 0px 0px;
      height: 15vh;
      object-fit: cover;

    }
    /*FIN IMG 5 */
    .imgshort6 {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .imgshort6 img {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 30px 30px 0px 0px;
      height: 16vh;
      object-fit: cover;

    }
/************ FIN ACTIVITE ********************/

/* DEBUT FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F2F2F2;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 15px;
  height: 35vh;
}

.footer_align{
  margin: 0 10rem 0rem 5%;
  padding-top: 5vh;
}

.footer_align p{
  padding-top: 1vh;
}
/* FIN FOOTER */


/******************************************************* DEBUT MEDIA QUERIES IPHONE **************************************************************/
@media only screen 
  and (min-width: 225px) 
  and (max-width: 667px){
  body {
    margin: auto;
    width: 100%;
  }
 /*****DEBUT HEADER*****/
  .logo,.heb,.act,.sincrire{
      width: 50%;
      text-align: center;
      padding: 1rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
  }
  .heb{
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
  }
  .act{
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
  }
  .sincrire{
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
  }
  .heb, .act {
    border-top: none;
    border-bottom: 1px solid #F2F2F2;
  }
  .heb:hover, .act:hover {
    border-top: none;
    border-bottom: 1px solid #0065FC;
  }
/*****FIN HEADER*****/

/*****DEBUT NAV*****/
#info h2,p{
padding-top: 2vh;
}
#info h2{
  width: 90%;
  text-align: center;
  margin: 0 0 0rem 2%;
}
#info p{
  padding-top: 2vh;
  margin: 0 0 0rem 7%;

  }
   /* SEARCH BAR */
   .bar {
    margin: 0 0 0rem 8%;
  }
 #info .bar input {
    height: 6vh;
    width: 60%;
  }
  #info  .bar .fa-map-marker-alt {
    width: 15%;
  }
  #info  .bar span {
    display: none;
  }
  #info  .bar button {
    width: 10%;
    border-radius: 10%;
  }
  #info  .bar .fa-search {
    display: block;
    margin-left: 10%;
  }
  /**FIN SEARCH BAR**/

  /*FILTRES*/

  .filtres{
    padding-top: 3vh;
    padding-left: 5%;

  }
  #info .filtres div{
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    width: auto;
    display: inline;
    margin: 0 .5rem .9rem;

  }
  .filtres h4{
    padding-bottom: 2vh;
    width: 100%;
    padding-left: 4%;

  }
  #info .filtres span{
    padding: 2vh;
  }
  
  

  /**FIN FILTRES**/

   /*LOGEMENTS DISPO*/
.logement_dispo .fa-xs{
  border: 1px solid #F2F2F2;
  color: #0065FC;
  width: 1.5%;  
  text-align: center;
  height: 3vh;
  border-radius: 100%;
  line-height: 1.3;
  width: 8%;
}
.logement_dispo {
  width: 90%;
  margin: 0 0 2rem 5%;
  padding-top: 3vh;

}
/*** LOGEMENTS DISPO ***/
 /*************FIN NAV*************/

 /**DEBUT MAIN**/
main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 1vh;
}

/*POPULAIRE*/
aside{
  width: 100%;
  border-radius: 0%;

}
.card_populaire {
  width: 90%;
  margin: 0 0 1rem 5%;
  padding-top: 1vh;
}
.colone img {
  height: 20vh;
  width: 40%;
}
.icone_finance{
  margin: 0 0 1rem ;
}

aside .test .stars{
  padding-top: 6vh;
}
aside .test .stars3{
  padding-top: 6.5vh;
}


/************* FIN POPULAIRE *************/

  /*HEBERGEMENT*/
  #hebergement{
    width: 90%;
    background-color: white;
  }
  .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hebergement article{
    width: 100%;
  }
  .ranger1 {
    width: 100%;
    -webkit-box-shadow: 5px 5px 19px 18px rgba(0, 0, 0, 0.36);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.10);
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    margin: 0 0 1rem 5%;
  }
  .ranger1 img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 15vh;
  }
  .afficher_plus{
    margin: 0 0 1rem ;
  }
  
  /**** FIN HEBERGEMENT *****/

/********************** FIN MAIN ****************************/

    
  /* ACTIVITE */

  #activity_card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #activite h2{
        padding-left: 3vh;
  }
  #activity_card img {
    padding-top: 5%;
  }
  .longimg {
    width: 90%;
  }
  .longimg img {
    height: 20vh;
  }
  .img-milieu {
    width: 90%;
  }
  .img-milieu img {
    height: 20vh;
  }
  .img_right {
    width: 90%;
  }
  .img_right img {
    height: 20vh;
  }
 
  .textimg {
    border-radius: 0px 0px 15px 15px;
    height: 8.5vh;
  }
  
 
 
  
  /************* FIN ACTIVITE *************/


 /* FOOTER */
 footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 10px;

}
.footer_align{
  margin: 0 0 0 5%;
}

.footer_align h3{
  padding-bottom: 2vh;
}
.footer_align p{
  font-weight: 300;
}

/************* FIN FOOTER *************/ 

}


/******************************************************* FIN MEDIA QUERIES IPHONE **************************************************************/


/******************************************************* DEBUT MEDIA QUERIES TABLETTE **************************************************************/

@media only screen 
  and (min-width: 667px) 
  and (max-width: 1439px)
  {
 /*****DEBUT HEADER*****/
 .logo,.heb,.act,.sincrire{
  width: 50%;
  text-align: center;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.heb{
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.act{
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.sincrire{
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.heb, .act {
border-top: none;
border-bottom: 1px solid #F2F2F2;
}
.heb:hover, .act:hover {
border-top: none;
border-bottom: 1px solid #0065FC;
}
/*****FIN HEADER*****/


    /* SEARCH BAR */
    .bar {
      margin: 0 0 0rem 8%;
    }
   #info .bar input {
      height: 6vh;
      width: 70%;
    }
    #info  .bar span {
      display: none;
    }
    #info  .bar .fa-map-marker-alt {
      width: 15%;
      background-color: #F2F2F2;
      text-align: center;
      line-height: 4.5;
    }
    #info  .bar .fa-search {
      display: block;
      margin-left: 10%;
    }
    /**FIN SEARCH BAR**/


  /*FILTRES*/

  .filtres{
    padding-top: 3vh;
    padding-left: 5%;

  }
  #info .filtres div{
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    width: auto;
    display: inline;
    margin: 0 .5rem .9rem;

  }
  .filtres h4{
    padding-bottom: 2vh;
    width: 100%;
    padding-left: 4%;

  }
  #info .filtres span{
    padding: 2vh;
  }
  
  

  /**FIN FILTRES**/

  /**DEBUT MAIN**/
main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 1vh;
}

/*POPULAIRE*/
aside{
  width: 100%;
  border-radius: 0%;

}
.card_populaire {
  width: 90%;
  margin: 0 0 1rem 5%;
  padding-top: 1vh;
}
.colone img {
  height: 20vh;
  width: 40%;
}
.icone_finance{
  margin: 0 0 1rem ;
}

aside .test .stars{
  padding-top: 6vh;
}
aside .test .stars3{
  padding-top: 6.5vh;
}

/************* FIN POPULAIRE *************/

  /*HEBERGEMENT*/
  #hebergement{
    width: 90%;
    background-color: white;
  }
  .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hebergement article{
    width: 100%;
  }
  .ranger1 {
    width: 100%;
    -webkit-box-shadow: 5px 5px 19px 18px rgba(0, 0, 0, 0.36);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.10);
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    margin: 0 0 1rem 5%;
  }
  .ranger1 img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 30vh;
  }
  .afficher_plus{
    margin: 0 0 1rem ;
  }
  
  /**** FIN HEBERGEMENT *****/

/********************** FIN MAIN ****************************/

  
  /* ACTIVITE */

  #activity_card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #activite h2{
        padding-left: 3vh;
  }
  #activity_card img {
    padding-top: 5%;
  }
  .longimg {
    width: 90%;
  }
  .longimg img {
    height: 20vh;
  }
  .img-milieu {
    width: 90%;
  }
  .img-milieu img {
    height: 20vh;
  }
  .img_right {
    width: 90%;
  }
  .img_right img {
    height: 20vh;
  }
 
  .textimg {
    border-radius: 0px 0px 15px 15px;
    height: 8.5vh;
  }
  
  /************* FIN ACTIVITE *************/

  /* FOOTER */
 footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.footer_align{
  margin: 0 2rem 0rem 5%;
}
.footer_align h3{
  padding-bottom: 2vh;
}
/************* FIN FOOTER *************/ 

}
/******************************************************* FIN MEDIA QUERIES TABLETTE **************************************************************/


